<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Continuous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Experimental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Nightly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NightlyMemoryCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>fast_four_sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>find_circles_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>find_path_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>find_sum_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>floyd_path_tp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>glviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>integral_map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>kway_sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>linear_scanning_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>lucky_draw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>quick_linked_sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>quick_sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>string_mtch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>test_lucky_draw_suites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>the_maze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>twenty_four_game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>unique_path.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16F672F5119E4A8AB7AC0927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CD01DF4DA54B40890F3AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1C080BFBEB4BF0ABCF7318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426A708115854AB0AE67795E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464EC806FB0E4F88910CCAD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E23F61F79984A569F2E46A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F896F5CD7F845F39BB45A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>556BA0DB4E91478A942209CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C513EEFD8C40F282F66FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E33401F1D7B45D6B285EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>755DB378C34948C0AE377180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A09886B2D954AACA7B3C5BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D27B6C3631E4CA09B301570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F318AB7E794CEBA1A760D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B731E02F33545DFABC47204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E7E847D94D6426C9B80C981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC67980B76A4DB286B2051E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0823D4E6F2B4C34BECFB9A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C82252F79844389DAF4811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A809C9B99E724FEC9AD74F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2804F9FDFA149E7991FBA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C67B6B94D81C44A981DB32BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71AB672F95E43758C79855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAA18CA387D54DDDAF5A6D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F180FC0BDBB34343B1ECAABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8722DD40BBB4573A0B78A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
