<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Continuous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Experimental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Nightly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NightlyMemoryCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>find_circles_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>find_path_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>find_sum_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>glviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>linear_scanning_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CD01DF4DA54B40890F3AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426A708115854AB0AE67795E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E23F61F79984A569F2E46A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F896F5CD7F845F39BB45A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E33401F1D7B45D6B285EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A09886B2D954AACA7B3C5BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D27B6C3631E4CA09B301570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F318AB7E794CEBA1A760D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC67980B76A4DB286B2051E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0823D4E6F2B4C34BECFB9A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A809C9B99E724FEC9AD74F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C67B6B94D81C44A981DB32BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71AB672F95E43758C79855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8722DD40BBB4573A0B78A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
