<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Continuous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Experimental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Nightly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NightlyMemoryCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>diff_tree_cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05B5458307F940B9AC9C9496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F026A7731941E2A477399B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4B10A2F38B4C6894FA0403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C91B80591A84CC1BF8B1F74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D4901D61A47423BBA70FA7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E516C11522043C6AD374B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE0170E21DD4AE4825B9ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBF95851BA0A4BA5A5A7695A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F4275470C44B3BB39CB57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F842483B45424DF7AD3BC945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
